<div class="animated slideIn">
  <div class="card">
    <div class="card-header">
      ADD DELL MACHINE
    </div>
    <div class="card-body">

        <div class="form-group">
          <label for="serial_number">SERIAL NUMBER</label>
          <div class="controls">
            <div class="input-group">
              <input id="serial_number" type="text" [(ngModel)]="machine.serial_number" class="form-control" placeholder="SERIAL NUMBER">
              <span class="input-group-append">
                <button (click)="searchModel()" class="btn btn-secondary" type="button">Search</button>
                <!--<button class="btn btn-secondary" type="button">Options</button>-->
              </span>
            </div>
          </div>
        </div>

        <div class="form-group">
          <label for="make">MAKE</label>
          <input id="make" type="text" [(ngModel)]="machine.make_model.make" class="form-control" placeholder="MAKE" readonly>
          <!--<select (change)="getModels()" id="make" [(ngModel)]="machine.make_model.make" class="form-control">
            <option *ngFor="let make of makes">{{make.make}}</option>
          </select>-->
        </div>

        <div class="form-group">
          <label for="model">MODEL</label>
          <input id="model" type="text" [(ngModel)]="machine.make_model.model" class="form-control" placeholder="MODEL" readonly>
          <!--<select id="model" [(ngModel)]="machine.make_model.model" class="form-control">
            <option *ngFor="let model of models">{{model}}</option>
          </select>-->
        </div>

    </div>
  </div>
</div>
<div class="card-footer">
  <button (click)="addMachine()" class="btn btn-sm btn-primary"><i class="fa fa-dot-circle-o"></i> ADD</button>
  <button (click)="cancel()" class="btn btn-sm btn-secondary"><i class="fa fa-ban"></i> CANCEL</button>
</div>
