<div class="animated slideIn">
  <div class="card">
    <div class="card-header">Machines List</div>
    <div class="card-body">


      <div class="form-group">
        <label class="col-form-label" for="appendedInputButtons">Enter CD Number, Serial Number, Branch, or Division</label>
        <div class="controls">
          <div class="input-group">
            <input [(ngModel)]="search_param" id="appendedInputButtons" size="16" class="form-control" type="text">
            <span class="input-group-append">
              <button (click)="searchMachines()" class="btn btn-secondary" type="button">Search</button>
              <!--<button class="btn btn-secondary" type="button">Options</button>-->
            </span>
          </div>
        </div>
      </div>


      <table class="table table-bordered">
        <thead>
          <tr>
            <th>Serial Number</th>
            <th>Make</th>
            <th>Model</th>
            <th>Status</th>
            <th>Logs</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let machine of machines">
            <td><a routerLink="/content/machines/machines-detail/{{machine._id}}">{{machine.serial_number}}</a></td>
            <td>{{machine.make_model.make}}</td>
            <td>{{machine.make_model.model}}</td>
            <td>
              <div *ngIf="machine.provisioning_status === 'IN-BOX' ">
                <span class="badge badge-danger">IN-BOX</span>
              </div>

              <div *ngIf="machine.provisioning_status === 'SETUP' ">
                <span class="badge badge-warning">SETUP</span>
              </div>

              <div *ngIf="machine.provisioning_status === 'IN-USE' ">
                <span class="badge badge-success">IN-USE</span>
              </div>
            </td>
            <td><a routerLink="/content/machines/machines-log/{{machine._id}}">VIEW-LOGS</a></td>
          </tr>
        </tbody>
      </table>


    </div>
  </div>
</div>
