<div class="animated fadeIn">

  <div class="row">
    <div class="col-sm-6 col-md-12">
      <div class="card text-white bg-danger">
        <div class="card-body">
          <div class="h1 text-muted text-right mb-4">
            <i class="fa fa-server"></i>
          </div>
          <div class="h4 mb-0">IN-BOX</div>
          <div class="h6 mb-2"><a style="color:white;" routerLink="/content/machines/machines-phase/inbox">{{phase.inbox}} CLIENT(S)</a></div>
          <small class="text-muted text-uppercase font-weight-bold">STAR IT</small>
          <div>
            <small class="text-muted text-uppercase font-weight-bold">TASKS PENDING</small>
          </div>
        </div>
      </div>
    </div><!--/.col-->

    <!--<div class="col-sm-6 col-md-6">
      <div class="card text-white bg-primary">
        <div class="card-body">
          <div class="h1 text-muted text-right mb-4">
            <i class="fa fa-server"></i>
          </div>
          <div class="h4 mb-0">PHASE 2</div>
          <div class="h6 mb-2"><a style="color:white;" routerLink="/content/machines/machines-phase/phase2">{{phase.phase2}} CLIENT(S)</a></div>
          <small class="text-muted text-uppercase font-weight-bold">STAR IT</small>
          <div>
            <small class="text-muted text-uppercase font-weight-bold">TASKS PENDING</small>
          </div>
        </div>
      </div>
    </div>--><!--/.col-->
  </div>

  <div class="row">
    <div class="col-sm-6 col-md-12">
      <div class="card text-white bg-warning">
        <div class="card-body">
          <div class="h1 text-muted text-right mb-4">
            <i class="fa fa-server"></i>
          </div>
          <div class="h4 mb-0">SETUP</div>
          <div class="h6 mb-2"><a style="color:white;" routerLink="/content/machines/machines-phase/setup">{{phase.setup}} CLIENT(S)</a></div>
          <small class="text-muted text-uppercase font-weight-bold">USER META-DATA AND STAR IT</small>
          <div>
            <small class="text-muted text-uppercase font-weight-bold">TASKS PENDING</small>
          </div>
        </div>
      </div>
    </div><!--/.col-->

    <!--<div class="col-sm-6 col-md-6">
      <div class="card text-white bg-warning">
        <div class="card-body">
          <div class="h1 text-muted text-right mb-4">
            <i class="fa fa-server"></i>
          </div>
          <div class="h4 mb-0">PHASE 4</div>
          <div class="h6 mb-2"><a style="color:white;" routerLink="/content/machines/machines-phase/phase4">{{phase.phase4}} CLIENT(S)</a></div>
          <small class="text-muted text-uppercase font-weight-bold">I.T.T.</small>
          <div>
            <small class="text-muted text-uppercase font-weight-bold">TASKS PENDING</small>
          </div>
        </div>
      </div>
    </div>--><!--/.col-->
  </div>

  <div class="row">
    <div class="col-sm-6 col-md-12">
      <div class="card text-white bg-success">
        <div class="card-body">
          <div class="h1 text-muted text-right mb-4">
            <i class="fa fa-server"></i>
          </div>
          <div class="h4 mb-0">IN-USE</div>
          <div class="h6 mb-2"><a style="color:white;" routerLink="/content/machines/machines-phase/inuse">{{phase.inuse}} CLIENT(S)</a></div>
          <small class="text-muted text-uppercase font-weight-bold">RACKED CONNECTED</small>
          <div>
            <small class="text-muted text-uppercase font-weight-bold">IN USE</small>
          </div>
        </div>
      </div>
    </div><!--/.col-->
  </div>

</div>
